
<div class="barre-menu">
    <div class="element-menus">
      <div class="libelle" style="text-align: center; font-size: 2em; font-weight: bolder; color: #14AE5C;">
       Ajouter une simulation
      </div>
      <!-- <div ><i style="color: #fff; font-size: 20px; margin-right: 10px; display: flex; justify-content: center; align-items: center;" class="fa-solid fa-xmark"></i></div>  -->
    </div>
  </div>

  
  <div>

    <div class="ajout-champ-modal">
      <div class="containeur">
          <form class="otpForm">
            <!-- titre -->
            <div class="input">
              <label>Nom <span class="obligatoire" >*</span></label>
              <input class="telephone-input" type="text" class="form-control" placeholder="Arachide" formControlName="titre"
              >
            </div>
            <!-- Sous titre -->
            <!-- <div class="input">
              <label>Sous titre <span class="obligatoire">*</span></label>
              <input class="telephone-input" type="text" class="form-control" placeholder="Sous titre" formControlName="soustitre">
            </div> -->


            <!-- Ressource -->
            <!-- <div class="input">
  
              <label>Ressource</label>
              <input class="telephone-input" type="text" class="form-control" placeholder="https://www.youtube.com/watch?v=nFALLbd-n7s" formControlName="lien">

            </div> -->


             <!-- photo du champ -->
             <div class="input">
  
              <label>Photo</label>
              <input type="file" id="avatar"  class="form-control" name="avatar"  accept="video/*"
              multiple  formControlName="file" >


            </div>

  
  
            <!-- description du pub -->
            <div class="input">
  
              <label>Description <span class="obligatoire">*</span></label>
              <textarea style="height: 200px;" class="telephone-input" type="text" class="form-control" formControlName="description">Description</textarea>
            </div >
  
            <div class="input">
              <button class="envoyer-input" type="submit" expand="block" >Ajouter</button>
            </div>
          </form>
  
        </div>
      
  
    </div>
     

  </div>
  