
<div class="barre-menu">
    <div class="element-menus">
      <div class="libelle" style="text-align: center; font-size: 2em; font-weight: bolder; color: #14AE5C;">
       Ajouter une simulation
      </div>
      <!-- <div ><i style="color: #fff; font-size: 20px; margin-right: 10px; display: flex; justify-content: center; align-items: center;" class="fa-solid fa-xmark"></i></div>  -->
    </div>
  </div>

  
  <div>

    <div class="ajout-champ-modal">
      <div class="containeur">
          <form class="otpForm">
            <div class="input">
                <label>Libelle <span class="obligatoire">*</span></label>     
                <select  class="form-control telephone-input" >
                <option style="color: #000;" value="Choisir un type" selected disabled>Choisir un produit</option>
                <option value="test">test</option>
                </select>
              </div>

            <!-- Delai jour -->
            <div class="input">
              <label>Delai <span class="obligatoire">*</span></label>
              <input class="telephone-input" type="number" class="form-control" placeholder="Nombre de jours" >
            </div>

            <!-- Delai jour -->
            <div class="input">
                <label>Nombre de pluies <span class="obligatoire">*</span></label>
                <input class="telephone-input" type="number" class="form-control" placeholder="Nombre de jours" >
              </div>

              <div class="input">
                <label>Varietés <span class="obligatoire">*</span></label>     
                <select  class="form-control telephone-input" >
                <option style="color: #000;" value="Choisir un type" selected disabled>Choisir une varieté</option>
                  <option value="test">test</option>
                  <option value="test">test</option>
                </select>
              </div>


        
  
            <div class="input">
              <button class="envoyer-input" type="submit" expand="block" >Ajouter</button>
            </div>
          </form>
  
        </div>
      
  
    </div>
     

  </div>
  