<!-- style="margin-top: 31px;" -->
<div class="conteneurNotification">
    
    <!-- <div class="buttons">
     <button   type="submit" expand="block">Lu</button>
     <button   type="submit" expand="block">Non lu</button>
    </div> -->

    <div class="notifications" style="margin-top: 15px;">

     <div class="notification" *ngFor="let notif of lesNotifications | paginate: { itemsPerPage: 4, currentPage: p}">
       <div class="titre" style="display: flex; justify-content: space-between; ">
        <span>{{notif.titre}}</span>
        <span style="color: #14AE5C;">{{ notif.datenotification | date: 'dd/MM/yyyy HH:mm' }}</span>
       </div>
       <div class="contenuNot">
         <div>
            <img src="{{notif.userid.photo}}" class="rounded-circle" style="width: 80px; height: 80px;"
            alt="Avatar" />
                 </div>
         <div class="texte">
          {{notif.contenu}}
         </div>
       </div>
       <div class="dureeExp">
         <div class="expediteur">
          {{notif.userid.nomcomplet}}
         </div>
       </div>
      </div>

</div>

<div class="paginationDiv">
  <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
</div>
  
 </div>
