<!-- style="margin-top: 31px;" -->
<div class="conteneurNotification">
    
    <div class="buttons">
     <button   type="submit" expand="block">Lu</button>
     <button   type="submit" expand="block">Non lu</button>
    </div>

    <div class="notifications" style="margin-top: 15px;">

     <div class="notification">
       <div class="titre" style="display: flex; justify-content: space-between; ">
        <span>titre</span>
        <span style="color: #14AE5C;">Date de notif</span>
       </div>
       <div class="contenuNot">
         <div >
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 100px;"
            alt="Avatar" />
                 </div>
         <div class="texte">
         contenu vvvvvvvvvvvvvvvvvvvvv vvvvvvvv vvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvv
         </div>
       </div>
       <div class="dureeExp">
         <div class="expediteur">
          FORODOKOTORO
         </div>
         <div  class="dureeNot" style="color: #14AE5C;">
           Lu
          </div>
       </div>
      </div>


      <div class="notification" >
        <div class="titre" style="display: flex; justify-content: space-between; ">
         <span>titre</span>
         <span style="color: #14AE5C;">Date de notif</span>
        </div>
        <div class="contenuNot">
          <div>
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 100px;"
            alt="Avatar" />
          </div>
          <div class="texte">
          contenu vvvvvvvvvvvvvvvvvvvvv vvvvvvvv vvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvv
          </div>
        </div>
        <div class="dureeExp">
          <div class="expediteur">
           FORODOKOTORO
          </div>
          <div  class="dureeNot" style="color: #14AE5C;">
            marquer comme lu
           </div>
        </div>
       </div>

       <div class="notification" >
        <div class="titre" style="display: flex; justify-content: space-between; ">
         <span>titre</span>
         <span style="color: #14AE5C;">Date de notif</span>
        </div>
        <div class="contenuNot">
          <div>
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 100px;"
            alt="Avatar" />
          </div>
          <div class="texte">
          contenu vvvvvvvvvvvvvvvvvvvvv vvvvvvvv vvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvv
          </div>
        </div>
        <div class="dureeExp">
          <div class="expediteur">
           FORODOKOTORO
          </div>
          <div  class="dureeNot" style="color: #14AE5C;">
            marquer comme lu
           </div>
        </div>
    </div>


</div>
  
 </div>
