
<div class="barre-menu">
    <div class="element-menus">
      <div class="libelle" style="text-align: center; font-size: 2em; font-weight: bolder; color: #14AE5C;">
       Ajouter une varieté
      </div>
      <!-- <div ><i style="color: #fff; font-size: 20px; margin-right: 10px; display: flex; justify-content: center; align-items: center;" class="fa-solid fa-xmark"></i></div>  -->
    </div>
  </div>

  
  <div>

    <div class="ajout-champ-modal">
      <div class="containeur">
          <form class="otpForm">
            <!-- titre -->
            <div class="input">
              <label>Nom <span class="obligatoire" >*</span></label>
              <input class="telephone-input" type="text" class="form-control" placeholder="Arachide" 
              >
            </div>
            <!-- Sous titre -->
            <div class="input">
              <label>Durée de vie <span class="obligatoire">*</span></label>
              <input class="telephone-input" type="text" class="form-control" placeholder="Sous titre" >
            </div>


            <!-- Ressource -->
            <div class="input">
              <label>Cycle</label>
              <input class="telephone-input" type="number" class="form-control" placeholder="8 en mois" >
            </div>

            <!-- Ressource -->
            <div class="input">
                <label>Taille final</label>
                <input class="telephone-input" type="number" class="form-control" placeholder="80 en cm" >
            </div>

            <!-- Ressource -->
            <div class="input">
                <label>Rendement</label>
                <input class="telephone-input" type="number" class="form-control" placeholder="80 en cm" >
            </div>

            <!-- Ressource -->
            <div class="input">
                <label>Lien</label>
                <input class="telephone-input" type="number" class="form-control" placeholder="80 en cm" >
            </div>


            <div class="input">
                <label>Produit Agricole <span class="obligatoire">*</span></label>     
                <select  class="form-control telephone-input" >
                <option style="color: #000;" value="Choisir un type" selected disabled>Choisir un produit</option>
                  <option value="test">test</option>
                </select>
              </div>


             <!-- photo du champ -->
             <div class="input">
  
              <label>Photo</label>
              <input type="file" id="avatar"  class="form-control" name="avatar"
              multiple   >
            </div>
  
            <!-- description du pub -->
            <div class="input">
  
              <label>Description <span class="obligatoire">*</span></label>
              <textarea style="height: 200px;" class="telephone-input" type="text" class="form-control" >Description</textarea>
            </div >
  
            <div class="input">
              <button class="envoyer-input" type="submit" expand="block" >Ajouter</button>
            </div>
          </form>
  
        </div>
      
  
    </div>
     

  </div>
  