

<div class="row">

    
<!-- <div class="ContFiltreChamp"> -->
    <!-- <select class="form-select filtreChamp" aria-label="Default select example">
        <option selected>Fitre par état</option>
        <option value="1">Actives</option>
        <option value="2">Désactive</option>
    </select> -->
    <div class="input-group" style="display: flex!important; justify-content: flex-end!important; margin-bottom: 25px;">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" style="width: 50%;"/>
        <button type="button" class="btn btn-outline-primary" style="border-color: #14AE5C; color: #14AE5C;">search</button>
      </div>
<!-- </div> -->
<div class="table-responsive">
<table class="table">
    <h6 style="color: #14AE5C; font-weight: bold; font-size: 25px;">Les utilisateurs de Forodokotoro</h6>
    <thead>
      <tr>
        <th  scope="col">Nom complet</th>
        <th  scope="col">Numero de téléphone</th>
        <th  scope="col">Adresse</th>
        <th  scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let utilisateur of utilisateurs">
        <td>{{utilisateur.nomcomplet}}</td>
        <td>{{utilisateur.username}}</td>
        <td>{{utilisateur.adresse}}</td>
        <td>
        {{utilisateur.email}}
            <!-- <span class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitches">
                <label class="custom-control-label" for="customSwitches"></label>
            </span> -->
        </td>
      </tr>
     
  </table>
</div>
    
</div>