<div class="row">
    <div class="col-md-3">

        <div class="card ">
            <div class="banner">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="image1" alt="">
            </div>
            <div class="menu">
                <div class="opener"><span></span></div>
            </div>
            <h3 class="name">Morgan Sweeney</h3>
            <div class="title">Ant Collector</div>
            <div class="actions">
                <div class="follow-info">
                    <h3><a href="#"><span>12</span></a></h3>
                    <h3><a href="#"><span>1000</span></a></h3>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">

        <div class="card ">
            <div class="banner">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="image1" alt="">
            </div>
            <div class="menu">
                <div class="opener"><span></span></div>
            </div>
            <h3 class="name">Morgan Sweeney</h3>
            <div class="title">Ant Collector</div>
            <div class="actions">
                <div class="follow-info">
                    <h3><a href="#"><span>12</span> </a></h3>
                    <h3><a href="#"><span>1000</span> </a></h3>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">

        <div class="card ">
            <div class="banner">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="image1" alt="">
            </div>
            <div class="menu">
                <div class="opener"><span></span></div>
            </div>
            <h3 class="name">Morgan Sweeney</h3>
            <div class="title">Ant Collector</div>
            <div class="actions">
                <div class="follow-info">
                    <h3><a href="#"><span>12</span> </a></h3>
                    <h3><a href="#"><span>1000</span> </a></h3>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">

        <div class="card ">
            <div class="banner">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="image1" alt="">
            </div>
            <div class="menu">
                <div class="opener"><span></span></div>
            </div>
            <h3 class="name">Morgan Sweeney</h3>
            <div class="title">Ant Collector</div>
            <div class="actions">
                <div class="follow-info">
                    <h3><a href="#"><span>12</span> </a></h3>
                    <h3><a href="#"><span>1000</span> </a></h3>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">

        <div class="card ">
            <div class="banner">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="image1" alt="">
            </div>
            <div class="menu">
                <div class="opener"><span></span></div>
            </div>
            <h3 class="name">Morgan Sweeney</h3>
            <div class="title">Ant Collector</div>
            <div class="actions">
                <div class="follow-info">
                    <h3><a href="#"><span>12</span> </a></h3>
                    <h3><a href="#"><span>1000</span> </a></h3>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">

        <div class="card ">
            <div class="banner">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="image1" alt="">
            </div>
            <div class="menu">
                <div class="opener"><span></span></div>
            </div>
            <h3 class="name">Morgan Sweeney</h3>
            <div class="title">Ant Collector</div>
            <div class="actions">
                <div class="follow-info">
                    <h3><a href="#"><span>12</span> </a></h3>
                    <h3><a href="#"><span>1000</span> </a></h3>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">

        <div class="card ">
            <div class="banner">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="image1" alt="">
            </div>
            <div class="menu">
                <div class="opener"><span></span></div>
            </div>
            <h3 class="name">Morgan Sweeney</h3>
            <div class="title">Ant Collector</div>
            <div class="actions">
                <div class="follow-info">
                    <h3><a href="#"><span>12</span> </a></h3>
                    <h3><a href="#"><span>1000</span> </a></h3>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">

        <div class="card ">
            <div class="banner">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="image1" alt="">
            </div>
            <div class="menu">
                <div class="opener"><span></span></div>
            </div>
            <h3 class="name">Morgan Sweeney</h3>
            <div class="title">Ant Collector</div>
            <div class="actions">
                <div class="follow-info">
                    <h3><a href="#"><span>12</span> </a></h3>
                    <h3><a href="#"><span>1000</span> </a></h3>
                </div>

            </div>
        </div>
    </div>
</div>