// //le button envoyer
.envoyer-input{
    background-color: #14AE5C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    // padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 1.5em;
}
label{
    color: #000;
}

.obligatoire{
    color: red;
}
label{
    font-size: 1.2em;
    font-weight: bold;
}

@media screen and (max-width:300px){
    .libelle{
        font-size: 1em!important;
    }
}

