
<div class="barre-menu">
    <div class="element-menus">
      <div class="libelle" style="text-align: center; font-size: 2em; font-weight: bolder; color: #14AE5C;">
       Ajouter un administrateur
      </div>
      <!-- <div ><i style="color: #fff; font-size: 20px; margin-right: 10px; display: flex; justify-content: center; align-items: center;" class="fa-solid fa-xmark"></i></div>  -->
    </div>
  </div>

  
  <div>

    <div class="ajout-champ-modal">
      <div class="containeur">
          <form class="otpForm">
            <!-- titre -->
            <div class="input">
              <label>Nom complet<span class="obligatoire" >*</span></label>
              <input class="telephone-input" type="text" class="form-control" placeholder="Mahamadou KEITA"
              >
            </div>

            <!-- Sous titre -->
            <div class="input">
              <label>Email <span class="obligatoire">*</span></label>
              <input class="telephone-input" type="email" class="form-control" placeholder="kmahamadou858@gmail.com">
            </div>

            <!-- Sous titre -->
            <div class="input">
              <label>Mot de passe <span class="obligatoire">*</span></label>
              <input class="telephone-input" type="password" class="form-control" placeholder="********">
            </div>
            <!-- Sous titre -->
            <div class="input">
              <label>Confirmer le mot de passe <span class="obligatoire">*</span></label>
              <input class="telephone-input" type="password" class="form-control" placeholder="********">
            </div>

            <div class="input">
              <label>Role <span class="obligatoire">*</span></label>     
              <select  class="form-control telephone-input" >
              <option style="color: #000;" value="Choisir un type" selected disabled>Choisir un role</option>
                <option value="test">admin</option>
              </select>
            </div>
  
            <div class="input">
              <button class="envoyer-input" type="submit" expand="block" >Ajouter</button>
            </div>
          </form>
  
        </div>
      
  
    </div>
     

  </div>
  