<div class="container1">

    

    <!-- <div class="ContFiltreChamp">
        <div style="font-size: 18px; color: #000; font-weight: bold;">Produits agricoles</div>
        <select class="form-select filtreChamp" aria-label="Default select example">
            <option selected>Fitre par état</option>
            <option value="1">Actives</option>
            <option value="2">Désactive</option>
        </select>
    </div> -->

    <div class="card" *ngFor="let produit of lesProduitAgricoleRecuperer | paginate: { itemsPerPage: 4, currentPage: p } ">
        <div class="card-header">
            <img src="{{produit.photo}}" alt="rover" />
        </div>
        <div class="card-body" style="display: flex; justify-content: center; align-items: center;">
           

            <p>

                {{produit.description.slice(0, 200)}}<span *ngIf="produit.description.length > 200">...</span>

            </p>
            <!-- <div class="row">
                    <button class="myButton">Détail</button>    
            </div> -->
        </div>
    </div>

 
</div>


<div class="paginationDiv">
    <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
  </div>