.espaceDispoDashboard{
    // display: grid;
    // grid-template-columns: 1fr 500px;
    // height: 100vh;
}
.contenu{
    // background-color: red;
//     grid-column-start: 1;
//   grid-column-end: 3;
}
.notification{
    // background-color: blue;
    // grid-column-start: 1;
    // grid-column-end: 3;
}

.item{
    font-size: 14px;
    cursor: pointer;
}

.li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (max-width:650px){
   
    
}