<div class="row">


    <div class="ContFiltreChamp">
        <div style="font-size: 18px; color: #000; font-weight: bold;">Agriculteurs en attente</div>
        <select class="form-select filtreChamp" aria-label="Default select example" [(ngModel)]="etat" (change)="evenement($event)">
            <!-- <option selected></option> -->
            <option value="tout" selected>TOUT</option>
            <option value="encours">ENCOURS</option>
            <option value="rejeter">REJETER</option>
            <!-- <option value="3">Three</option> -->
        </select>
    </div>


    <div class="col-md-3" *ngFor="let agriculteur of agriculteurs | paginate: { itemsPerPage: 4, currentPage: p} ">
        <div class="card " >
            <div class="banner">
                <img src="{{agriculteur.photo}}" class="image1" alt="">
            </div>
            <div class="menu">
                <div class="opener"><span></span></div>
            </div>
            <h3 class="name" style="font-size: 16px;">{{agriculteur.nomcomplet}}</h3>
            <div class="title" style="font-size: 16px;">{{agriculteur.username}}</div>
            <div class="actions">
                <div class="follow-info" *ngIf="action">
                    <h3 (click)="accepterAgriculteur(agriculteur.username)"><a style="font-size: 20px;"><span><i style="font-size: 18px;" class="fa-solid fa-check"></i></span></a></h3>
                    <h3 (click)="rejeterAgriculteur(agriculteur.username)"><a style="font-size: 20px;"><span><i style="font-size: 16px; color: red;" class="fa fa-times" aria-hidden="true"></i></span></a></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="paginationDiv">
        <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
    </div>

    <div *ngIf="agriculteurs == ''" class="vide">Auccune demande</div>

</div>