<div class="accueil">
    <div class="containerCard">

        <div class="carde">
            <div class="contIcon">
                <span class="fa-solid fa-users" style="font-size: 25px; color: #000;"></span>
            </div>
            <div class="elt">
                <span class="valeur" *ngIf="utilisateurs != null">{{utilisateurs.length}}</span>
                <div class="libelles">
                    <span class="libelle">Total</span>
                    <span class="libelle">utilisateurs</span>
                </div>
               
            </div>
        </div>
    
        <div class="carde">
            <div class="contIcon">
                <!-- <span class="fa-solid fa-users" style="font-size: 25px; color: #000;"></span> -->
                <span class="fa-solid fa-wheat-awn" style="font-size: 25px; color: #000;"></span>
            </div>
            <div class="elt">
                <span class="valeur" *ngIf="agriculteurs != null">{{agriculteurs.length}}</span>
                <div class="libelles">
                    <span class="libelle">Total</span>
                    <span class="libelle">agriculteurs</span>
                </div>
               
            </div>
        </div>
    
        <div class="carde">
            <div class="contIcon">
                <span  class="bi bi-bank2" style="font-size: 25px; color: #000;"></span>
            </div>
            <div class="elt">
                <span class="valeur"  *ngIf="transporteurs != null">{{transporteurs.length}}</span>
                <div class="libelles">
                    <span class="libelle">Total</span>
                    <span class="libelle">Transporteurs</span>
                </div>
               
            </div>
        </div>
    
        <div class="carde">
            <div class="contIcon">
                <span class="bi bi-question-circle-fill" style="font-size: 25px; color: #000;"></span>
            </div>
            <div class="elt">
                <span class="valeur" *ngIf="lesPublivationsOrdonnes != null">{{lesPublivationsOrdonnes.length}}</span>
                <div class="libelles">
                    <span class="libelle">Nombre</span>
                    <span class="libelle">conseils</span>
                </div>
               
            </div>
        </div>
    

    </div>






    <div class="containerCard1">

        <div class="deuxCArd">

            <div class="carde1">
                <div class="contIcon">
                    <span class="fa-solid fa-car" style="font-size: 25px; color: #000;"></span>
                </div>
                <div class="elt1">
                    <span class="valeur">{{stockRestant/1000}}</span>
                    <div class="libelles">
                        <span class="libelle">Stocks restant</span>
                    </div>
                   
                </div>
            </div>

            <div class="carde1">
                <div class="contIcon">
                    <span class="fa-solid fa-car" style="font-size: 25px; color: #000;"></span>
                </div>
                <div class="elt1">
                    <span class="valeur">{{stockVendu/1000}}</span>
                    <div class="libelles">
                        <span class="libelle">stocks vendus</span>
                    </div>
                   
                </div>
            </div>
        
            <!-- <div class="carde1">
                <div class="contIcon">
                    <span  class="bi bi-bank2" style="font-size: 25px; color: #000;"></span>
                </div>
                <div class="elt1">
                    <span class="valeur">50 tonnes</span>
                    <div class="libelles">
                        <span class="libelle">stocks vendus</span>
                    </div>
                   
                </div>
            </div> -->

        </div>

    
        <div class="carde2">
            <div class="elt3">
                <div class="contIcon">
                    <span class="fa-solid fa-wheat-awn" style="font-size: 25px; color: #000;"></span>
                </div>
                <div class="conteneurElt">
                    <span class="libelle">Champ:</span>
                    <span class="valeur" *ngIf="lesChampActives != null">{{lesChampActives.length}}</span>
                </div>
                <div class="conteneurElt">
                    <span class="libelle">Parserelles:</span>
                    <span class="valeur">50</span>
                </div>
                <div class="conteneurElt">
                    <span class="libelle">Cultures:</span>
                    <span class="valeur">50</span>
                </div>

                <div class="conteneurElt">
                    <span class="libelle">Stocks:</span>
                    <span class="valeur">50</span>
                </div>
               
            </div>
        </div>
    

    </div>




    <!-- style="margin-top: 31px;" -->
<div class="conteneurNotification">
    
   <div class="libNotif">Les notifications recentes</div>

    <div class="notifications" style="margin-top: 15px;">

     <div class="notification">
       <div class="titre" style="display: flex; justify-content: space-between; ">
        <span>titre</span>
        <span style="color: #14AE5C;">Date de notif</span>
       </div>
       <div class="contenuNot">
         <div>
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 100px;"
            alt="Avatar" />
         </div>
         <div class="texte">
         contenu vvvvvvvvvvvvvvvvvvvvv vvvvvvvv vvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvv
         </div>
       </div>
       <div class="dureeExp">
         <div class="expediteur">
          FORODOKOTORO
         </div>
         <div  class="dureeNot" style="color: #14AE5C;">
           Marquer comme lu
          </div>
       </div>
      </div>


      <div class="notification" >
        <div class="titre" style="display: flex; justify-content: space-between; ">
         <span>titre</span>
         <span style="color: #14AE5C;">Date de notif</span>
        </div>
        <div class="contenuNot">
          <div >
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 100px;"
            alt="Avatar" />
                  </div>
          <div class="texte">
          contenu vvvvvvvvvvvvvvvvvvvvv vvvvvvvv vvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvv
          </div>
        </div>
        <div class="dureeExp">
          <div class="expediteur">
           FORODOKOTORO
          </div>
          <div  class="dureeNot" style="color: #14AE5C;">
            marquer comme lu
           </div>
        </div>
       </div>

       <div class="notification" >
        <div class="titre" style="display: flex; justify-content: space-between; ">
         <span>titre</span>
         <span style="color: #14AE5C;">Date de notif</span>
        </div>
        <div class="contenuNot">
          <div>
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 100px;"
            alt="Avatar" />
          </div>
          <div class="texte">
          contenu vvvvvvvvvvvvvvvvvvvvv vvvvvvvv vvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvv
          </div>
        </div>
        <div class="dureeExp">
          <div class="expediteur">
           FORODOKOTORO
          </div>
          <div  class="dureeNot" style="color: #14AE5C;">
            marquer comme lu
           </div>
        </div>
    </div>

    <div class="notification" >
        <div class="titre" style="display: flex; justify-content: space-between; ">
         <span>titre</span>
         <span style="color: #14AE5C;">Date de notif</span>
        </div>
        <div class="contenuNot">
          <div>
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 100px;"
            alt="Avatar" />
          </div>
          <div class="texte">
          contenu vvvvvvvvvvvvvvvvvvvvv vvvvvvvv vvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvv  vvvvvvvvvvvvvvvvv
          </div>
        </div>
        <div class="dureeExp">
          <div class="expediteur">
           FORODOKOTORO
          </div>
          <div  class="dureeNot" style="color: #14AE5C;">
            marquer comme lu
           </div>
        </div>
    </div>


</div>
  
 </div>


</div>

